# Docker Compose file for Volteec Backend (public usage)
#
# User flow:
#   1) Copy .env.example -> .env and set required values
#   2) docker compose run migrate
#   3) docker compose up app
#

volumes:
  db_data:

services:
  app:
    image: ghcr.io/volteec/volteec-backend:v1.0.3
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8080:8080'
    # user: '0' # uncomment to run as root for testing purposes even though Dockerfile defines 'vapor' user.
    command: ["serve", "--env", "production", "--hostname", "0.0.0.0", "--port", "8080"]
    restart: unless-stopped
  migrate:
    image: ghcr.io/volteec/volteec-backend:v1.0.3
    env_file:
      - .env
    depends_on:
      - db
    command: ["migrate", "--yes"]
    deploy:
      replicas: 0
  revert:
    image: ghcr.io/volteec/volteec-backend:v1.0.3
    env_file:
      - .env
    depends_on:
      - db
    command: ["migrate", "--revert", "--yes"]
    deploy:
      replicas: 0
  db:
    image: postgres:18-alpine
    volumes:
      - db_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped
